<div class="img-home">
  <h1>Create your own Secret Santa</h1>
  <p>It's very simple to create an event, you just have to fill in the information follow:</p>
  <ul>
    <li>The event's date</li>
    <li>The gift's amount</li>
    <li>The participants</li>
  </ul>

  <a class="btn btn-success btn-rent pt-2" href="events/new">
      Create your event
  </a>
</div>
